.footer-bottom{ background-color: #3b3b3b; text-align: center; padding: 22px 0;
    .copyright{ margin-bottom: 7px;      text-align: $left;
      a{ color: $background; 
        
      }
    }
    .paymen{ text-align: $right; }
  }