image/cache/
vqmod/vqcache/*.*
system/storage/cache/
system/storage/logs/
*.cache
admin/config.php
admin/config_windows_git.php
admin/config-dist.php
config.php
config-dist.php
config_windows_git.php
.htaccess
image/
