@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  display: block;
  -webkit-transform: rotate(0);
  -webkit-backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
  right: 0;
}
.lib-two-img-over .img-1 {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(0);
  -webkit-backface-visibility: hidden;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/************************************************************************************************
 FOOTER DEFFAULT
 *************************************************************************************************/
footer.typefooter-2 .section_1 {
  padding: 32px 0;
}
footer.typefooter-2 .section_1 div.bonus-menus ul li {
  display: inline-block;
}
footer.typefooter-2 .section_1 div.bonus-menus ul li .icon {
  width: 35px;
  height: 33px;
  line-height: 33px;
}
footer.typefooter-2 .section_1 div.bonus-menus ul li .text {
  margin: 0 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}
footer.typefooter-2 .section_1 div.bonus-menus ul li .text h5 {
  margin: 0 0 2px;
}
footer.typefooter-2 .section_1 div.bonus-menus ul li .text h5 a {
  color: #222;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
footer.typefooter-2 .section_1 div.bonus-menus ul li .text p {
  font-size: 12px;
  color: #555;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0;
  line-height: 16px;
}
footer.typefooter-2 .section_1 div.bonus-menus ul li .icon, footer.typefooter-2 .section_1 div.bonus-menus ul li .text {
  display: inline-block;
  vertical-align: middle;
}
footer.typefooter-2 .section_2 {
  padding: 30px 0;
  background: #dd3c7f;
}
footer.typefooter-2 .section_2 .module.news-letter {
  margin: 0;
}
footer.typefooter-2 .section_2 .module.news-letter .show-error {
  color: #fff !important;
  position: absolute;
  background: #ef2c2c;
  padding: 2px 5px;
  min-width: 139px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  white-space: nowrap;
  top: -32px;
  left: 0;
}
footer.typefooter-2 .section_2 .module.news-letter .newsletter {
  display: table;
  width: 100%;
}
footer.typefooter-2 .section_2 .module.news-letter .title-block {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  margin: 3px 0 0 0;
  vertical-align: middle;
  display: table-cell;
  width: 50%;
}
footer.typefooter-2 .section_2 .module.news-letter .title-block .fa {
  font-size: 26px;
  margin-left: 5px;
}
footer.typefooter-2 .section_2 .module.news-letter .title-block strong {
  font-weight: 600;
  font-size: 14px;
}
footer.typefooter-2 .section_2 .module.news-letter .title-block .pre-text {
  display: none;
}
footer.typefooter-2 .section_2 .module.news-letter .block_content {
  width: 50%;
  display: table-cell;
}
footer.typefooter-2 .section_2 .module.news-letter .block_content form {
  margin: 0;
  width: 100%;
  border-radius: 50px;
  background: #fff;
  vertical-align: middle;
  border: 1px solid #ebebeb;
}
footer.typefooter-2 .section_2 .module.news-letter .block_content .form-inline .form-group {
  margin: 0;
  height: 40px;
  padding: 0 60px 0 0;
  position: relative;
  width: 100%;
}
footer.typefooter-2 .section_2 .module.news-letter .block_content .form-inline .form-group input {
  border: none;
  background: transparent;
  color: #555;
  font-size: 12px;
  width: 100%;
  font-weight: normal;
  padding: 0 20px;
}
footer.typefooter-2 .section_2 .module.news-letter .block_content .form-inline .form-group button {
  color: #fff;
  height: 41px;
  top: -1px;
  background: transparent;
  bottom: -1px;
  width: auto;
  padding: 0 20px;
  border-radius: 0px 40px 40px 0;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  left: -1px;
  border-radius: 40px 0 0 40px;
}
footer.typefooter-2 .section_2 .module.news-letter .block_content .form-inline .form-group button i.fa {
  display: block !important;
  color: #555;
}
footer.typefooter-2 .section_2 .module.news-letter .block_content .form-inline .form-group button > span {
  display: none;
}
footer.typefooter-2 .section_2 .module.news-letter .block_content .form-inline .form-group button:hover {
  color: #dd3c7f;
}
footer.typefooter-2 .section_3 {
  margin-bottom: 20px;
  padding: 30px 0 5px;
}
footer.typefooter-2 .section_3 .contactinfo h4.title-footer {
  color: transparent;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 12px;
  text-indent: -99999px;
  background: transparent url("../../images/icon/logo-footer.png") no-repeat right center;
  height: 38px;
}
footer.typefooter-2 .section_3 .contactinfo p {
  font-size: 14px;
}
footer.typefooter-2 .section_3 .contactinfo .content-footer .address, footer.typefooter-2 .section_3 .contactinfo .content-footer .email, footer.typefooter-2 .section_3 .contactinfo .content-footer .phone {
  padding: 0 25px 0 0;
  position: relative;
  line-height: 22px;
  margin-bottom: 10px;
}
footer.typefooter-2 .section_3 .contactinfo .content-footer .address label, footer.typefooter-2 .section_3 .contactinfo .content-footer .email label, footer.typefooter-2 .section_3 .contactinfo .content-footer .phone label {
  font-size: 16px;
  color: #666;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  right: 0;
}
footer.typefooter-2 .section_3 .contactinfo .content-footer .address span, footer.typefooter-2 .section_3 .contactinfo .content-footer .email span, footer.typefooter-2 .section_3 .contactinfo .content-footer .phone span {
  color: #555;
  font-size: 14px;
  font-weight: normal;
}
footer.typefooter-2 .section_3 .footer-links h4.title-footer {
  color: #222;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
footer.typefooter-2 .section_3 .footer-links h4.title-footer:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 40px;
  background: #dd3c7f;
  top: auto;
  bottom: -1px;
  right: 0;
  right: auto;
}
footer.typefooter-2 .section_3 .footer-links ul.links {
  padding: 0;
}
footer.typefooter-2 .section_3 .footer-links ul.links li a {
  color: #555;
  font-size: 14px;
  font-weight: normal;
  display: block;
  padding: 2px 13px;
  position: relative;
}
footer.typefooter-2 .section_3 .footer-links ul.links li a:before {
  content: "";
  font-family: fontawesome;
  display: block;
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #555;
  top: 12px;
  right: 0;
}
footer.typefooter-2 .section_3 .footer-links ul.links li a:hover {
  color: #dd3c7f;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .blog-external-simple {
  margin: 0;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .so-blog-external {
  margin-top: 15px;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .post_image {
  float: right;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  margin-left: 10px;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .media {
  margin-top: 10px;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .media-heading {
  margin: 0;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .post_content {
  margin-right: 75px;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .post_content .media-heading a {
  color: #555;
  display: block;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 400;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .post_content .media-heading a:hover {
  color: #dd3c7f;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .post_content .media-subcontent {
  clear: none;
  font-size: 10px;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .post_content .media-subcontent .media-author .txt {
  color: #555;
}
footer.typefooter-2 .section_3 .module.footer_lastestblog .post_content .media-author {
  border: none;
}
footer.typefooter-2 .section_4 .border {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding: 20px 0 20px;
}
footer.typefooter-2 .section_4 .app-store {
  display: block;
  float: none;
  font-size: 0;
}
footer.typefooter-2 .section_4 .app-store a {
  margin: 0 6px 0 0;
  font-size: 0;
  text-indent: -99999999px;
  color: transparent;
  display: inline-block;
  height: 30px;
  width: 105px;
}
footer.typefooter-2 .section_4 .app-store a.app-1 {
  background: transparent url("../../images/icon/app-store-1.png") no-repeat right center;
}
footer.typefooter-2 .section_4 .app-store a.app-2 {
  background: transparent url("../../images/icon/app-store-2.png") no-repeat right center;
}
footer.typefooter-2 .section_4 .app-store a.app-3 {
  background: transparent url("../../images/icon/app-store-3.png") no-repeat right center;
}
footer.typefooter-2 .section_4 .footer-social {
  text-align: left;
}
footer.typefooter-2 .section_4 .footer-social .socials {
  font-size: 0;
}
footer.typefooter-2 .section_4 .footer-social .socials a {
  display: inline-block;
  margin-left: 10px;
  color: #666;
}
footer.typefooter-2 .section_4 .footer-social .socials a .fa {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 28px;
  border-radius: 50%;
  border: 1px solid #edecec;
  background: #fff;
  text-align: center;
  font-size: 12px;
  color: #555;
  transition: all 0.3s ease 0s;
}
footer.typefooter-2 .section_4 .footer-social .socials a .fa:hover {
  border-color: #dd3c7f;
  background: #dd3c7f;
  color: #fff;
}
footer.typefooter-2 .section_4 .footer-social .socials a p, footer.typefooter-2 .section_4 .footer-social .socials a span {
  display: none;
}
footer.typefooter-2 .section_5 .custom_link {
  border-bottom: 1px solid #ebebeb;
  margin-top: 15px;
}
footer.typefooter-2 .section_5 .footer-toplinks {
  line-height: 18px;
  padding: 0 0 10px;
}
footer.typefooter-2 .section_5 .footer-toplinks .links label {
  font-weight: bold;
  text-transform: capitalize;
  color: #222;
  font-size: 12px;
  margin: 0;
}
footer.typefooter-2 .section_5 .footer-toplinks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-size: 0;
}
footer.typefooter-2 .section_5 .footer-toplinks ul li {
  display: inline-block;
  position: relative;
  padding: 0 5px;
}
footer.typefooter-2 .section_5 .footer-toplinks ul li a {
  font-size: 12px;
  font-weight: 400;
  color: #555;
}
footer.typefooter-2 .section_5 .footer-toplinks ul li a:hover {
  color: #dd3c7f;
}
footer.typefooter-2 .section_5 .footer-toplinks ul li a:after {
  content: "\/";
  display: block;
  font-size: 14px;
  color: #555;
  position: absolute;
  top: 0px;
  left: -2px;
}
footer.typefooter-2 .footer--bottom {
  padding: 15px 0 15px;
  font-size: 12px;
  color: #555;
}
footer.typefooter-2 .footer--bottom .copyright a {
  color: #dd3c7f;
}
footer.typefooter-2 .footer--bottom .paymen {
  text-align: left;
}
